:root {
  --primary: #222629;
  --secondary: #474B4F;
  --neutral: #ecf0f1;
  --contrast: #16a085;
  --light: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--neutral);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2 {
  color: var(--primary);
  margin: 10px 0px;
  font-weight: bolder;
}

h3,
h4 {
  color: var(--secondary);
  margin: 5px 0px;
  font-weight: bold;
}

h5,
h6 {
  color: var(--secondary);
  margin: 5px 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--primary);
}

p {
  color: var(--secondary);
}

a:hover {
  text-decoration: none;
  color: var(--contrast);
}

.btn-primary {
  color: white !important;
  font-weight: bold;
  background: var(--contrast);
  margin: 10px 0px;
  border: none;
}

.btn-primary:hover {
  background: var(--primary);
}

.boxed-content {
  border: 1px solid var(--light);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

label {
  color: white;
}

